.banner {
	/* for positioning */
	width: 100%;
	height: auto;
	position: fixed;
	top: 70px;
	background: linear-gradient(45deg, #02141b, #001a25);
    color: rgb(221, 55, 55);
	/* for content alignment */
	
}

.imgBanner{
	width: 100%;
	height: auto;
	top: 70px;
	background: linear-gradient(45deg, #02141b, #001a25);
    color: #ffff;
}

.imgBanner h3{
	font-size: 1rem;
	font-weight: bold;
	margin: 1rem 0;
	z-index: 100;
}

