body{
    margin: 0 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App{
    min-width: 100%;
    padding-top: 50px; 
}


@media (max-width: 360px ) {
    .App{
        padding-top:40px !important;
    }
}
