body{
    margin: 0 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App{
    min-width: 100%;
    padding-top: 80px; 
}


@media (max-width: 70px ) {
    .App{
        padding: 70px
    }
}
